<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.javascript.launching.JavaScriptLaunchConfigurationType">
<stringAttribute key="console_id" value="1559043232955"/>
<stringAttribute key="mainScript" value="WebRoot/login.jsp"/>
<stringAttribute key="nature" value="org.eclipse.wst.jsdt.core.jsNature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/struts_hibernate/WebRoot/login.jsp"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="project" value="struts_hibernate"/>
<stringAttribute key="url" value=""/>
<booleanAttribute key="use_dltk_interactive_console" value="false"/>
</launchConfiguration>
